extends layout
 
block content
  div.container
    div.content

  form(action='/api/users/'+user.id,method='post')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='name') name 
           input(id='name',type='text',value='user.name',placeholder=user.name,name='name')
    div(data-role='fieldcontain')   
      input(type='submit',value='Update',data-transition='fade', data-theme='c')
