doctype 5
html(lang='en')
head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
    title Signin to Spherecal
    // Bootstrap core CSS
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/bootstrap-editable.css', rel='stylesheet')
    link(href='/css/signin.css', rel='stylesheet')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')

    script(src='/js/bootstrap-editable.js')

    script(type='text/javascript').
      $.fn.editable.defaults.mode = 'inline';

    script(type='text/javascript').
      $(document).ready(function() {
        $('#name').editable({
          params: function(params) {
          var data = {};
          data['id'] = params.pk;
          data[params.name] = params.value;
          return data;
          }
        });
        $('#username').editable();
      });
body 
.container
    .row
        .col-md-4.col-md-offset-4
          .panel.panel-default
            .panel-heading
              h3.panel-title Login to Spherecal
            .panel-body
              form(accept-charset='UTF-8', role='form')
                fieldset
                  .form-group
                    input.form-control(placeholder='E-mail', name='email', type='text')
                  .form-group
                    input.form-control(placeholder='Password', name='password', type='password', value='')
                  .checkbox
                    label
                      input(name='remember', type='checkbox', value='Remember Me')
                      | Remember Me
                  input.btn.btn-lg.btn-success.btn-block(type='submit', value='Login')
              hr
              center
                h4 OR
              form(action='/auth/facebook')
                input.btn.btn-lg.btn-facebook.btn-block(type='submit', value='Login via facebook')

